<div ng-controller="SidebarController" layout="column" flex class="sidenav">

    <md-toolbar class="md-tall md-hue-2 user-cover" layout="row" layout-align="start end" style="background-image: url("https://www.google.co.il/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjAnrf6kbDYAhXFKewKHYbRCXEQjRwIBw&url=http%3A%2F%2Fwww.smosh.com%2Fsmosh-pit%2Farticles%2F7-cartoon-teachers-we-want-our-school&psig=AOvVaw0W-hmgKC9QALSa_v3lF2JZ&ust=1514668481425733")">
        <div class="md-toolbar-tools" >
            <div class="user-logged-image">
                <i class="mdi mdi-account-circle" md-colors="{color: 'grey-A100-0.7'}"></i>
            </div>
            <h2>
                {{ loggedInUser }}
            </h2>
        </div>
    </md-toolbar>
    <div layout="column" flex>
        <md-list flex>

            <md-list-item ng-repeat="item in menuList" ui-sref-active="md-raised" ui-sref="{{item.state}}"
                          ng-click="toggleMenu()">
                <div layout="row" layout-align="center center">
                    <i class="mdi mdi-{{item.iconClass}}"></i>
                    <span>{{ item.text }}</span>
                </div>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <md-list>
            <md-list-item ng-click="logout()">
                <div layout="row" layout-align="center center">
                    <i class="mdi mdi-logout" flex="25"></i>
                    <span flex>יציאה</span>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>
