<div class="mdc-card" >
    <section class="mdc-card__primary">
        <h1 class="mdc-card__title mdc-card__title--large authTitle">Register Screen</h1>
    </section>
    <section class="mdc-card__supporting-text" >

        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form name="registerForm" class="authForm" ng-submit="appRegister()" role="form">
            <div class="group" >
                <i class="fa fa-key"></i>
                <input type="text" name="userid" id="userid" class="form-control" ng-model="user.userid" required />
                <span class="highlight" ></span><span class="bar" ></span>  <label for="userid">User ID</label>
                <span ng-show="registerForm.userid.$dirty && registerForm.userid.$error.required" class="help-block">User ID required </span>
            </div>

            <div class="group" >
                <i class="fa fa-key"></i>
                <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
                <span class="highlight" ></span><span class="bar" ></span>  <label for="firstName">First Name</label>
                <span ng-show="registerForm.firstName.$dirty && registerForm.firstName.$error.required" class="help-block">First Name required </span>
            </div>

            <div class="group" >
                <i class="fa fa-key"></i>
                <input type="text" name="lastName" id="lastName" class="form-control" ng-model="user.lastName" required />
                <span class="highlight" ></span><span class="bar" ></span>  <label for="lastName">Last Name</label>
                <span ng-show="registerForm.lastName.$dirty && registerForm.lastName.$error.required" class="help-block">Last Name required </span>
            </div>

            <div class="group">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" id="password" required class="form-control" ng-model="user.password"  minlength="8"
                       ng-change="validatePassword()">
                <span class="highlight" required></span><span class="bar"></span>
                <label for="password">Password</label>

                <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$invalid && registerForm.password.$touched">
                    <div ng-message="registerForm.password.required"><span>Password required</span></div>
                    <div ng-message="registerForm.password.minlength"><span>Password minimal length is 8 characters</span></div>
                </div>
            </div>

            <div class="group">
                <i class="fa fa-lock"></i>

                <input ng-model="user.passwordValidate" type="password" class="form-control" required name="passwordValidate" minlength="8"
                       ng-change="validatePassword()">
                <span class="highlight" required></span><span class="bar"></span>
                <label for="password">confirm password</label>

                <div ng-messages="registerForm.passwordValidate.$error"
                     ng-show="registerForm.passwordValidate.$invalid && registerForm.passwordValidate.$touched">
                    <div ng-message="required"><span>Password required</span></div>
                    <div ng-message="minlength">Password minimal length is 8 characters</div>
                    <div ng-message="notEqual">passwords not identical</div>
                </div>
            </div>


            <p class="authMess">{{ message }}</p>


            <div class="form-actions">
                <button type="submit" ng-disabled="registerForm.$invalid ||registerForm.password.$error.required || registerForm.userid.$error.required || registerForm.lastName.$error.required || registerForm.firstName.$error.required" class="button buttonBlue">Register
                </button>
                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
            </div>
        </form>

    </section>

</div>